.Box {
    padding: 20px;
    background-color: #fff;
    margin: 20%;
    margin-top: 5%;
    width: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: Nunito;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    align-items: center;
}
.Form input {
    height: 35px;
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #092607a3;
    border-radius: 5px;
}

.SubmitButton {
    width: 30%;
    height: 30px;
    border: 2px solid #092607a3;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #234f26;
    color: #fff;
}
.SubmitButton:hover {
    background-color: #2b612e;

}
.Link {
    color: #215125;
}