body {
    background: #84cfca;
}
.app {
    margin: 20px 40px;
    color: #2c615e;
}
.app input {
    height: 30px;
    width: 200px;
    padding-left: 8px;
    background-color: #98ebe6;
    border-radius: 5px;
    border: 1px solid #3c8481;
    box-sizing: border-box;
    color: #19413f;
}
.app input:focus {
    outline: none;
    border: 1px solid #26b0a9;
}
.app button {
    height: 30px;
    margin-left: 15px;
    background-color: #98ebe6;
    border: 1px solid #3c8481;
    border-radius: 5px;
    box-sizing: border-box;
    color: #19413f;
}
.app form button {
    display: block;
    margin: 15px 0px 0px;
}